/* Barra de Navegação Vertical */
/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(../assets/seta.png) no-repeat left center;

} */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul a {
    /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../assets/menu.png) no-repeat left bottom;
}
/* É recomendado que seja utilizado uma cor de background para o caso de a imagem não carregar */

a:hover, .selecionado a {
    background-position: right bottom;
    background-color: #ff9200;
    color: #fff;
}
/* É utilizada cor para caso a imagem não carregue, o efeito do hover seja executado */
